<!-- ======= Header ======= -->
<header id="headerFix" class="fixed-top d-flex align-items-center">
  <!-- big screen nav -->
  <div class="container-fluid align-items-center d-none d-md-flex">
    <div class="logo ml-2 mr-3">
      <a href="index.html">
        <img src="../../../assets/img/logo1.png" alt="Rosenfarbe" class=" img-fluid">
      </a>
    </div>

    <nav class="nav-menu" style="width: inherit;">
      <ul>
        <li><a routerLink="/fr">Home</a></li>
        <li ><a routerLink="/fr/rosenfarbe">Rosenfarbe</a></li>
        <li><a routerLink="/fr/shop">Shop</a></li>
        <li><a routerLink="/fr/b2b">Produits</a></li>
        <li class="active"><a href="">Contact</a></li>

        <p-dropdown [options]="langs" [(ngModel)]="selectedLang" (onChange)="changeLang()" [style]="{'float': 'right'}">
          <ng-template pTemplate="selectedItem">
            <img src="../../../assets/img/FR.png" style="height: 20px;width: 20px;" />
          </ng-template>
          <ng-template let-lang pTemplate="item">
            <div class="lang-item" >
                  <img  src="../../../assets/img/{{lang}}.png" style="height: 20px;width: 20px;" />

                </div>
          </ng-template>
        </p-dropdown>
      </ul>
    </nav>
  </div>
  <!-- small screen nav -->
  <div class="col-12 d-block d-md-none text-center">

    <button pButton pRipple type="button" (click)="visibleSidebar = true" icon="pi pi-bars" style="background-color: transparent;color: #AF854F;border-color: #AF854F;float: left;"></button>
    <p-sidebar [(visible)]="visibleSidebar" [modal]="false">
      <h1 style="font-weight:normal;color: #03072A;">Rosenfarbe</h1>
      <button pButton pRipple routerLink="/fr" type="button" label="Home" class="p-button-text d-block mt-1"></button>
      <button pButton pRipple routerLink="/fr/rosenfarbe" type="button" label="Rosenfarbe" class="p-button-text d-block"></button>
      <button pButton pRipple routerLink="/fr/shop" type="button" label="Shop" class="p-button-text d-block"></button>
      <button pButton pRipple routerLink="/fr/b2b" type="button" label="Produits" class="p-button-text d-block"></button>
      <button pButton pRipple routerLink="/fr/contact" type="button" label="Contact" class="p-button-text d-block"></button>

      <img src="../../../assets/img/logo1.png" alt="Rosenfarbe" class="img-fluid mt-4">

    </p-sidebar>
    <img src="../../../assets/img/logo1.png" alt="Rosenfarbe" class="mx-auto img-fluid" style="height: 45px;margin-left: 20px !important;">
    <p-dropdown [options]="langs" [(ngModel)]="selectedLang" (onChange)="changeLang()" [style]="{'float': 'right'}">
      <ng-template pTemplate="selectedItem">
        <img src="../../../assets/img/FR.png" style="height: 20px;width: 20px;" />
      </ng-template>
      <ng-template let-lang pTemplate="item">
        <div class="lang-item" >
              <img  src="../../../assets/img/{{lang}}.png" style="height: 20px;width: 20px;" />

            </div>
      </ng-template>
    </p-dropdown>
  </div>
</header>
<!-- End Header -->
<div class="section-2 box">
  <div class="vertical-center text-center" style="position: relative;">
    <h2 class="display-4" style="font-size: 90px;">Contact</h2>
  </div>
</div>
<div class="container-fluid text-center" style="background-color: #AF854F; color: #000;">
  <div class="row">
    <div class="col-12">
      <h1>Prenez contact avec nous</h1>
      <p class="lead">Veuillez remplir le formulaire ci-dessous et nous vous contacterons dans les plus brefs délais.</p>
    </div>
  </div>
  <form>
<div class="form-row">
  <div class="col-md-1">

  </div>
<div class="form-group col-md-5">
  <label for="inputEmail4">Prénom</label>
  <input type="text" class="form-control" id="inputEmail4">
</div>
<div class="form-group col-md-5">
  <label for="inputPassword4">Nom de famille</label>
  <input type="text" class="form-control" id="inputPassword4">
</div>
  <div class="col-md-1">

  </div>
  <div class="col-md-1">

  </div>
<div class="form-group col-md-5">
  <label for="inputEmail4">Email</label>
  <input type="email" class="form-control" id="inputEmail4">
</div>
<div class="form-group col-md-5">
  <label for="inputPassword4">Téléphone</label>
  <input type="text" class="form-control" id="inputPassword4">
</div>
  <div class="col-md-1">

  </div>
  <div class="col-md-1">

  </div>
<div class="form-group col-md-10">
  <label for="inputAddress2">Sujet</label>
  <input type="text" class="form-control" id="inputAddress2">
</div>
  <div class="col-md-1">

  </div>
    <div class="col-md-1">

    </div>
<div class="form-group col-md-10">
  <label for="exampleFormControlTextarea1">Votre Message</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
</div>
  <div class="col-md-1">

  </div>
</div>
<button type="submit" class="btn btn-outline-dark">Envoyer</button>
</form>
  <div class="row">
    <div class="col-12">
      <h1 class="pt-4 pb-4">Coordonnées</h1>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Courriel</h5>
          <h6 class="card-subtitle mb-2 text-muted">Envoyez-nous un e-mail</h6>
          <a href="#" class="card-link">info@rosenfarbe.com</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-3">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Numéro de téléphone</h5>
          <h6 class="card-subtitle mb-2 text-muted">Appelez-nous</h6>
          <a href="#" class="card-link">+49 631 311 70047</a>
        </div>
      </div>
    </div>
    <div class="col-md-2">

    </div>
  </div>
</div>
<app-footer-fr></app-footer-fr>
