<!-- ======= Header ======= -->
<header id="headerFix" class="fixed-top d-flex align-items-center">
  <!-- big screen nav -->
  <div class="container-fluid align-items-center d-none d-md-flex">
    <div class="logo ml-2 mr-3">
      <a href="index.html">
        <img src="../../../../assets/img/logo1.png" alt="Rosenfarbe" class=" img-fluid">
      </a>
    </div>

    <nav class="nav-menu" style="width: inherit;">
      <ul>
        <li><a routerLink="/en">Home</a></li>
        <li ><a routerLink="/en/rosenfarbe">Rosenfarbe</a></li>
        <li><a routerLink="/en/shop">Shop</a></li>
        <li><a routerLink="/en/b2b">Produkte</a></li>
        <li><a routerLink="/en/contact">Kontakt</a></li>

        <p-dropdown [options]="langs" [(ngModel)]="selectedLang" (onChange)="changeLang()" [style]="{'float': 'right'}">
          <ng-template pTemplate="selectedItem">
            <img src="../../../../assets/img/EN.png" style="height: 20px;width: 20px;" />
          </ng-template>
          <ng-template let-lang pTemplate="item">
            <div class="lang-item" >
                  <img  src="../../../../assets/img/{{lang}}.png" style="height: 20px;width: 20px;" />

                </div>
          </ng-template>
        </p-dropdown>
      </ul>
    </nav>
  </div>
  <!-- small screen nav -->
  <div class="col-12 d-block d-md-none text-center">

    <button pButton pRipple type="button" (click)="visibleSidebar = true" icon="pi pi-bars" style="background-color: transparent;color: #AF854F;border-color: #AF854F;float: left;"></button>
    <p-sidebar [(visible)]="visibleSidebar" [modal]="false">
      <h1 style="font-weight:normal;color: #03072A;">Rosenfarbe</h1>
      <button pButton pRipple routerLink="/en" type="button" label="Home" class="p-button-text d-block mt-1"></button>
      <button pButton pRipple routerLink="/en/rosenfarbe" type="button" label="Rosenfarbe" class="p-button-text d-block"></button>
      <button pButton pRipple routerLink="/en/shop" type="button" label="Shop" class="p-button-text d-block"></button>
      <button pButton pRipple routerLink="/en/b2b" type="button" label="Produkte" class="p-button-text d-block"></button>
      <button pButton pRipple routerLink="/en/contact" type="button" label="Kontakt" class="p-button-text d-block"></button>

      <img src="../../../../assets/img/logo1.png" alt="Rosenfarbe" class="img-fluid mt-4">

    </p-sidebar>
    <img src="../../../../assets/img/logo1.png" alt="Rosenfarbe" class="mx-auto img-fluid" style="height: 45px;margin-left: 20px !important;">
    <p-dropdown [options]="langs" [(ngModel)]="selectedLang" (onChange)="changeLang()" [style]="{'float': 'right'}">
      <ng-template pTemplate="selectedItem">
        <img src="../../../../assets/img/EN.png" style="height: 20px;width: 20px;" />
      </ng-template>
      <ng-template let-lang pTemplate="item">
        <div class="lang-item" >
              <img  src="../../../../assets/img/{{lang}}.png" style="height: 20px;width: 20px;" />

            </div>
      </ng-template>
    </p-dropdown>
  </div>
</header>
<!-- End Header -->
<div class="section-4 box"></div>
<div class="container-fluid text-center" style="background-color: #56433F; color: #E0E0E0;">
  <div class="row">
    <div class="col-12">
      <h1 class="mt-5">Green Pistachio Kernel</h1>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <p class="p-text"></p>
      <p class="p-text">The quality in addition to the colour as well as the size defines the ‘Grade’ of the kernels varying from S to H.</p>

    </div>
    <div class="col-md-1">

    </div>
    <div class="col-12">
      <hr class="mb-5" style="border-top: 2px solid #E0E0E0;">
    </div>
    <div class="col-md-6">
      <div class="card bg-dark text-white">
        <img src="../../../../assets/img/Green/g1.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title"><h2 style="font-size: 35px;">A</h2></h5>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-dark text-white">
        <img src="../../../../assets/img/Green/g2.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title"><h2 style="font-size: 35px;">B</h2></h5>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-dark text-white">
        <img src="../../../../assets/img/Green/g3.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title"><h2 style="font-size: 35px;">C</h2></h5>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
