<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <!-- big screen nav -->
  <div class="container-fluid align-items-center d-none d-md-flex">
    <div class="logo ml-2 mr-3">
      <a href="index.html">
        <img src="../../../assets/img/logo1.png" alt="Rosenfarbe" class=" img-fluid">
      </a>
    </div>

    <nav class="nav-menu" style="width: inherit;">
      <ul>
        <li class="active"><a href="">Home</a></li>
        <li><a routerLink="/en/rosenfarbe">Rosenfarbe</a></li>
        <li><a routerLink="/en/shop">Shop</a></li>
        <li><a routerLink="/en/b2b">Products</a></li>
        <li><a routerLink="/en/contact">Contact</a></li>

        <p-dropdown [options]="langs" [(ngModel)]="selectedLang" (onChange)="changeLang()" [style]="{'float': 'right'}">
          <ng-template pTemplate="selectedItem">
            <img src="../../../assets/img/EN.png" style="height: 20px;width: 20px;" />
          </ng-template>
          <ng-template let-lang pTemplate="item">
            <div class="lang-item" >
                  <img  src="../../../assets/img/{{lang}}.png" style="height: 20px;width: 20px;" />

                </div>
          </ng-template>
        </p-dropdown>
      </ul>
    </nav>
  </div>
  <!-- small screen nav -->
  <div class="col-12 d-block d-md-none text-center">

    <button pButton pRipple type="button" (click)="visibleSidebar = true" icon="pi pi-bars" style="background-color: transparent;color: #AF854F;border-color: #AF854F;float: left;"></button>
    <p-sidebar [(visible)]="visibleSidebar" [modal]="false">
      <h1 style="font-weight:normal;color: #03072A;">Rosenfarbe</h1>
      <button pButton pRipple routerLink="/en" type="button" label="Home" class="p-button-text d-block mt-1"></button>
      <button pButton pRipple routerLink="/en/rosenfarbe" type="button" label="Rosenfarbe" class="p-button-text d-block"></button>
      <button pButton pRipple routerLink="/en/shop" type="button" label="Shop" class="p-button-text d-block"></button>
      <button pButton pRipple routerLink="/en/b2b" type="button" label="Products" class="p-button-text d-block"></button>
      <button pButton pRipple routerLink="/en/contact" type="button" label="Contact" class="p-button-text d-block"></button>

      <img src="../../../assets/img/logo1.png" alt="Rosenfarbe" class="img-fluid mt-4">

    </p-sidebar>
    <img src="../../../assets/img/logo1.png" alt="Rosenfarbe" class="mx-auto img-fluid" style="height: 45px;margin-left: 20px !important;">
    <p-dropdown [options]="langs" [(ngModel)]="selectedLang" (onChange)="changeLang()" [style]="{'float': 'right'}">
      <ng-template pTemplate="selectedItem">
        <img src="../../../assets/img/EN.png" style="height: 20px;width: 20px;" />
      </ng-template>
      <ng-template let-lang pTemplate="item">
        <div class="lang-item" >
              <img  src="../../../assets/img/{{lang}}.png" style="height: 20px;width: 20px;" />

            </div>
      </ng-template>
    </p-dropdown>
  </div>
</header><!-- End Header -->
<div class="section-1 box" style="padding-top: 200px;padding-bottom: 200px;">
  <div class="text-center " style="position: relative;">
    <h2 class="display-4" style="font-size: 100px;">Premium</h2>
    <h2 class="display-4" style="font-size: 90px;">Pistachios & Saffron</h2>
  </div>
</div>

<div id="products" class="container-fluid pt-4 pb-4" style="background-color: #AF854F;">
  <div class="row">
    <div class="col-12">
      <h1 class="display-4" style="font-size: 50px;">'Hand Selected' for you in our shop</h1>
    </div>
    <div class="col-md-6 col-lg-3 text-center">
      <div class="card">
        <a routerLink="/en/shop"><img class="card-img" src="../../../assets/img/c1.jpg" alt="Pistachios Saffron"></a>
      </div>
      <h3 class="mt-4" style="font-size: 35px;">Pistachios<br>Saffron</h3>
    </div>
    <div class="col-md-6 col-lg-3 text-center">
      <div class="card">
        <a routerLink="/en/shop"><img class="card-img" src="../../../assets/img/c2.jpg" alt="Pistachios Pink Salt"></a>
      </div>
      <h3 class="mt-4" style="font-size: 35px;">Pistachios<br>Pink Salt</h3>
    </div>
    <div class="col-md-6 col-lg-3 text-center">
      <div class="card">
        <a routerLink="/en/shop"><img class="card-img" src="../../../assets/img/c3.jpg" alt="Pistachios Lemon" ></a>
      </div>
      <h3 class="mt-4" style="font-size: 35px;">Pistachios<br>Lemon</h3>
    </div>
    <div class="col-md-6 col-lg-3 text-center">
      <div class="card">
        <a routerLink="/en/shop"><img class="card-img" src="../../../assets/img/c4.jpg" alt="Pistachios" ></a>
      </div>
      <h3 class="mt-4" style="font-size: 35px;">Pistachios<br>Pure Roasted</h3>
    </div>
    <div class="col-12 text-center">
      <button pButton pRipple routerLink="/en/shop" type="button" icon="pi pi-amazon" iconPos="right" label="Shop" class="p-button-raised styled-box-purple" style="background-color: #03072A;border-color: #03072A;"></button>
    </div>
  </div>
</div>

<div class="section-3 box">
  <div class="vertical-center text-center">
  </div>
</div>

<app-footer></app-footer>
