<!-- ======= Header ======= -->
<header id="headerFix" class="fixed-top d-flex align-items-center">
  <!-- big screen nav -->
  <div class="container-fluid align-items-center d-none d-md-flex">
    <div class="logo ml-2 mr-3">
      <a href="index.html">
        <img src="../../../assets/img/logo1.png" alt="Rosenfarbe" class=" img-fluid">
      </a>
    </div>

    <nav class="nav-menu" style="width: inherit;">
      <ul>
        <li><a routerLink="/fr">Home</a></li>
        <li ><a routerLink="/fr/rosenfarbe">Rosenfarbe</a></li>
        <li class="active"><a href="">Shop</a></li>
        <li><a routerLink="/fr/b2b">Produits</a></li>
        <li><a routerLink="/fr/contact">Contact</a></li>

        <p-dropdown [options]="langs" [(ngModel)]="selectedLang" (onChange)="changeLang()" [style]="{'float': 'right'}">
          <ng-template pTemplate="selectedItem">
            <img src="../../../assets/img/FR.png" style="height: 20px;width: 20px;" />
          </ng-template>
          <ng-template let-lang pTemplate="item">
            <div class="lang-item" >
                  <img  src="../../../assets/img/{{lang}}.png" style="height: 20px;width: 20px;" />

                </div>
          </ng-template>
        </p-dropdown>
      </ul>
    </nav>
  </div>
  <!-- small screen nav -->
  <div class="col-12 d-block d-md-none text-center">

    <button pButton pRipple type="button" (click)="visibleSidebar = true" icon="pi pi-bars" style="background-color: transparent;color: #AF854F;border-color: #AF854F;float: left;"></button>
    <p-sidebar [(visible)]="visibleSidebar" [modal]="false">
      <h1 style="font-weight:normal;color: #03072A;">Rosenfarbe</h1>
      <button pButton pRipple routerLink="/fr" type="button" label="Home" class="p-button-text d-block mt-1"></button>
      <button pButton pRipple routerLink="/fr/rosenfarbe" type="button" label="Rosenfarbe" class="p-button-text d-block"></button>
      <button pButton pRipple routerLink="/fr/shop" type="button" label="Shop" class="p-button-text d-block"></button>
      <button pButton pRipple routerLink="/fr/b2b" type="button" label="Produits" class="p-button-text d-block"></button>
      <button pButton pRipple routerLink="/fr/contact" type="button" label="Contact" class="p-button-text d-block"></button>

      <img src="../../../assets/img/logo1.png" alt="Rosenfarbe" class="img-fluid mt-4">

    </p-sidebar>
    <img src="../../../assets/img/logo1.png" alt="Rosenfarbe" class="mx-auto img-fluid" style="height: 45px;margin-left: 20px !important;">
    <p-dropdown [options]="langs" [(ngModel)]="selectedLang" (onChange)="changeLang()" [style]="{'float': 'right'}">
      <ng-template pTemplate="selectedItem">
        <img src="../../../assets/img/FR.png" style="height: 20px;width: 20px;" />
      </ng-template>
      <ng-template let-lang pTemplate="item">
        <div class="lang-item" >
              <img  src="../../../assets/img/{{lang}}.png" style="height: 20px;width: 20px;" />

            </div>
      </ng-template>
    </p-dropdown>
  </div>
</header>
<!-- End Header -->
<div class="section-8 box">
  <div class="vertical-center text-center" style="position: relative;">
    <h2 class="display-4" style="font-size: 90px;">Shop</h2>
  </div>
</div>
<div class="container-fluid text-center" style="background-color: #56433F; color: #E0E0E0;font-family: 'Marcellus SC', serif;">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10 mt-5">
      <p class="p-text">Vous pouvez commander des noix de qualité supérieure directement dans notre shop.</p>
      <p class="p-text">Promesse de qualité:</p>
      <p class="p-text">Toutes les pistaches de Rosenfarbe sont exclusivement super longues. Cette qualité offre une répartition optimale des ingrédients pendant le processus de torréfaction et garantit que la coque est particulièrement facile à ovrire avant consommation.</p>
      <p class="p-text">Toutes les noix et tous les ingrédients sont choisis personnellement par nous. Grâce à nos normes de qualité élevées, chaque produit qui quitte sa torréfaction domestique mérite le label 'Hand Selected'. </p>
      <p class="p-text">Alors Rosenfarbe.</p>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-12">
      <hr style="border-top: 2px solid #E0E0E0;">
    </div>
    <div class="col-md-6">
      <img src="../../../assets/img/c1.jpg" alt="" width="100%" onmouseover="hover1(this);" onmouseout="unhover1(this);">
    </div>
    <div class="col-md-6" id="p1">
      <h1>Pistaches<br>au<br>safran</h1>
      <p class="p-text">La pistache embrasse le safran.</p>
      <p class="p-text">Nos délicieuses pistaches sont délicatement grillées au safran, l'or des épices. Les saveurs créées par cette fusion de l'excellence caressent vos papilles d'une manière si unique que les mots sont bien trop faibles pour rendre justice à l'expérience.</p>
      <p class="p-text">Nous importons le safran pour nos pistaches directement d'un producteur du safran de la provence 'Khorasan' dans le nord-est de l'Iran.Servez ces pistaches au safran avec du whisky tout aussi exquis.</p>
      <a class="btn btn-lg btn-outline-light" data-toggle="popover" title="Temporairement indisponible" data-content="Notre Shop est en cours de développment et sera bientôt disponible">Acheter</a><br>
      <a class="" href="#" data-toggle="modal" data-target="#Modal1" style="color: #E0E0E0;">Plus d'informations</a>
      <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: #000;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Pistaches au safran</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Poids net: 250g</p><br>

              <table class="table">
                <tbody>
                  <tr>
                    <td style="text-align: left;">Valeurs nutritionnelles</td>
                    <td style="text-align: right;">À 100g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Valeur énergétique</td>
                    <td style="text-align: right;">2635,9 kJ/630 kcal</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Matière Grasse</td>
                    <td style="text-align: right;">48,5 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">- dont acides gras saturés</td>
                    <td style="text-align: right;">6,1 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Glucides</td>
                    <td style="text-align: right;">27,1 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">- donc sucre</td>
                    <td style="text-align: right;">6,8 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Protéine</td>
                    <td style="text-align: right;">21,2 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Sel</td>
                    <td style="text-align: right;">2 g</td>
                  </tr>
                </tbody>
              </table>

              <p>Ingrédients: pistaches en coque 98%, sel de mer 2%, extrait de safran 2%</p>
              <p>Remarque pour les personnes allergiques: le produit peut contenir des traces d&#39;autres fruits à coque</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <hr style="border-top: 2px solid #E0E0E0;">
    </div>
    <div class="col-md-6" id="p3">
      <h1>Pistaches<br>au<br>citron</h1>
      <p class="p-text">Épicé, acidulé et rafraîchissant.<br>C'est ainsi que les connaisseurs décrivent nos pistaches au citron. Ce mélange creé dans notre torréfaction privée, va bien avec un gin tonic.<br>Inoubliable! </p>
      <a class="btn btn-lg btn-outline-light" data-toggle="popover" title="Temporairement indisponible" data-content="Notre Shop est en cours de développment et sera bientôt disponible">Acheter</a><br>
      <a class="" href="#" data-toggle="modal" data-target="#Modal2" style="color: #E0E0E0;">Plus d'informations</a>
      <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: #000;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Pistaches au citron</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Poids net: 250g</p><br>

              <table class="table">
                <tbody>
                  <tr>
                    <td style="text-align: left;">Valeurs nutritionnelles</td>
                    <td style="text-align: right;">À 100g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Valeur énergétique</td>
                    <td style="text-align: right;">2635,9 kJ/630 kcal</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Matière Grasse</td>
                    <td style="text-align: right;">48,5 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">- dont acides gras saturés</td>
                    <td style="text-align: right;">6,1 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Glucides</td>
                    <td style="text-align: right;">27,1 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">- donc sucre</td>
                    <td style="text-align: right;">6,8 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Protéine</td>
                    <td style="text-align: right;">21,2 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Sel</td>
                    <td style="text-align: right;">2 g</td>
                  </tr>
                </tbody>
              </table>

              <p>Ingrédients: pistaches en coque 96%, sel de mer 2%, extrait de citron 2%</p>
              <p>Remarque pour les personnes allergiques: le produit peut contenir des traces d&#39;autres fruits à coque</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/img/c3.jpg" alt="" width="100%" onmouseover="hover3(this);" onmouseout="unhover3(this);">
    </div>
    <div class="col-12">
      <hr style="border-top: 2px solid #E0E0E0;">
    </div>
    <div class="col-md-6">
      <img src="../../../assets/img/c2.jpg" alt="" width="100%" onmouseover="hover2(this);" onmouseout="unhover2(this);">
    </div>
    <div class="col-md-6" id="p2">
      <h1>Pistaches<br>au<br>sel rose</h1>
      <p class="p-text">La rencontre des gentils géants.<br>Dans cette composition, le goût unique de nos pistaches géantes persanes rencontre le sel minéral à l'origine des montagnes himalayennes fusionné ensemble dans une torréfaction précise</p>
      <p class="p-text">Ces pistaches salées sont idéales pour toute occasion. Vous pouves par exemple les essyer avec une bière! Exceptionnel!</p>
      <a class="btn btn-lg btn-outline-light" data-toggle="popover" title="Temporairement indisponible" data-content="Notre Shop est en cours de développment et sera bientôt disponible">Acheter</a><br>
      <a class="" href="#" data-toggle="modal" data-target="#Modal3" style="color: #E0E0E0;">Plus d'informations</a>
      <div class="modal fade" id="Modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: #000;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Pistaches salées</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Poids net: 250g</p><br>

              <table class="table">
                <tbody>
                  <tr>
                    <td style="text-align: left;">Valeurs nutritionnelles</td>
                    <td style="text-align: right;">À 100g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Valeur énergétique</td>
                    <td style="text-align: right;">2635,9 kJ/630 kcal</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Matière Grasse</td>
                    <td style="text-align: right;">48,5 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">- dont acides gras saturés</td>
                    <td style="text-align: right;">6,1 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Glucides</td>
                    <td style="text-align: right;">27,1 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">- donc sucre</td>
                    <td style="text-align: right;">6,8 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Protéine</td>
                    <td style="text-align: right;">21,2 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Sel</td>
                    <td style="text-align: right;">2 g</td>
                  </tr>
                </tbody>
              </table>

              <p>Ingrédients: pistaches en coque 98%, sel rose 2%</p>
              <p>Remarque pour les personnes allergiques: le produit peut contenir des traces d&#39;autres fruits à coque</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <hr style="border-top: 2px solid #E0E0E0;">
    </div>
    <div class="col-md-6" id="p4">
      <h1>Mélange de noix<br>au<br>sel de mer</h1>
      <p class="p-text">Variété salée.</p>
      <p class="p-text">Les noix de cette création viennent du monde entier. Pistaches persanes, noix de cajou vietnamiennes, amandes espagnoles, noisettes géorgiennes et macadamia sud-africaine combinées grâce à la puissance de la torréfaction et raffinées avec du sel de mer.</p>
      <a class="btn btn-lg btn-outline-light" data-toggle="popover" title="Temporairement indisponible" data-content="Notre Shop est en cours de développment et sera bientôt disponible">Acheter</a><br>
      <a class="" href="#" data-toggle="modal" data-target="#Modal4" style="color: #E0E0E0;">Plus d'informations</a>
      <div class="modal fade" id="Modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color: #000;">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Mélange de noix</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Poids net: 250g</p><br>

              <table class="table">
                <tbody>
                  <tr>
                    <td style="text-align: left;">Valeurs nutritionnelles</td>
                    <td style="text-align: right;">À 100g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Valeur énergétique</td>
                    <td style="text-align: right;">2719,6 kJ/650 kcal</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Matière Grasse</td>
                    <td style="text-align: right;">54,2 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">- dont acides gras saturés</td>
                    <td style="text-align: right;">5,5 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Glucides</td>
                    <td style="text-align: right;">21 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">- donc sucre</td>
                    <td style="text-align: right;">5 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Protéine</td>
                    <td style="text-align: right;">19,6 g</td>
                  </tr>
                  <tr>
                    <td style="text-align: left;">Sel</td>
                    <td style="text-align: right;">1,5 g</td>
                  </tr>
                </tbody>
              </table>

              <p>Ingrédients: Mélange de noix avec différentes proportions de poids composé de pistaches, noix de cajou, amandes, noisettes et noix, sel de mer 1,5%</p>
              <p>Remarque pour les personnes allergiques: le produit peut contenir des traces d&#39;autres fruits à coque</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/img/c4.jpg" alt="" width="100%" onmouseover="hover4(this);" onmouseout="unhover4(this);">
    </div>
    <div class="col-12">
      <hr style="border-top: 2px solid #E0E0E0;">
    </div>
  </div>
</div>

<app-footer-fr></app-footer-fr>
