<!-- ======= Header ======= -->
<header id="headerFix" class="fixed-top d-flex align-items-center">
  <!-- big screen nav -->
  <div class="container-fluid align-items-center d-none d-md-flex">
    <div class="logo ml-2 mr-3">
      <a href="index.html">
        <img src="../../../../assets/img/logo1.png" alt="Rosenfarbe" class=" img-fluid">
      </a>
    </div>

    <nav class="nav-menu" style="width: inherit;">
      <ul>
        <li><a routerLink="/de">Home</a></li>
        <li ><a routerLink="/de/rosenfarbe">Rosenfarbe</a></li>
        <li><a routerLink="/de/shop">Shop</a></li>
        <li><a routerLink="/de/b2b">Produkte</a></li>
        <li><a routerLink="/de/contact">Kontakt</a></li>

        <p-dropdown [options]="langs" [(ngModel)]="selectedLang" (onChange)="changeLang()" [style]="{'float': 'right'}">
          <ng-template pTemplate="selectedItem">
            <img src="../../../../assets/img/DE.png" style="height: 20px;width: 20px;" />
          </ng-template>
          <ng-template let-lang pTemplate="item">
            <div class="lang-item" >
                  <img  src="../../../../assets/img/{{lang}}.png" style="height: 20px;width: 20px;" />

                </div>
          </ng-template>
        </p-dropdown>
      </ul>
    </nav>
  </div>
  <!-- small screen nav -->
  <div class="col-12 d-block d-md-none text-center">

    <button pButton pRipple type="button" (click)="visibleSidebar = true" icon="pi pi-bars" style="background-color: transparent;color: #AF854F;border-color: #AF854F;float: left;"></button>
    <p-sidebar [(visible)]="visibleSidebar" [modal]="false">
      <h1 style="font-weight:normal;color: #03072A;">Rosenfarbe</h1>
      <button pButton pRipple routerLink="/de" type="button" label="Home" class="p-button-text d-block mt-1"></button>
      <button pButton pRipple routerLink="/de/rosenfarbe" type="button" label="Rosenfarbe" class="p-button-text d-block"></button>
      <button pButton pRipple routerLink="/de/shop" type="button" label="Shop" class="p-button-text d-block"></button>
      <button pButton pRipple routerLink="/de/b2b" type="button" label="Produkte" class="p-button-text d-block"></button>
      <button pButton pRipple routerLink="/de/contact" type="button" label="Kontakt" class="p-button-text d-block"></button>

      <img src="../../../../assets/img/logo1.png" alt="Rosenfarbe" class="img-fluid mt-4">

    </p-sidebar>
    <img src="../../../../assets/img/logo1.png" alt="Rosenfarbe" class="mx-auto img-fluid" style="height: 45px;margin-left: 20px !important;">
    <p-dropdown [options]="langs" [(ngModel)]="selectedLang" (onChange)="changeLang()" [style]="{'float': 'right'}">
      <ng-template pTemplate="selectedItem">
        <img src="../../../../assets/img/DE.png" style="height: 20px;width: 20px;" />
      </ng-template>
      <ng-template let-lang pTemplate="item">
        <div class="lang-item" >
              <img  src="../../../../assets/img/{{lang}}.png" style="height: 20px;width: 20px;" />

            </div>
      </ng-template>
    </p-dropdown>
  </div>
</header>
<!-- End Header -->
<div class="section-5 box"></div>
<div class="container-fluid text-center" style="background-color: #56433F; color: #E0E0E0;">
  <div class="row">
    <div class="col-12">
      <h1 class="mt-5">Safran</h1>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <p class="p-text">Unser Safran, das sogenannte 'Rote Gold', stammt aus dem Iran, wo über 90% des weltweit vertriebenen Safrans produziert wird. Das teuerste Gewürz der Welt wird größtenteils beim Kochen als Gewürz verwendet und verleiht den Speisen ein einzigartiges Aroma und eine goldgelbe Farbe. 'Safran macht den Kuchen Gelb'.
        In geringerem Umfang wird es auch für medizinische Zwecke sowie als Duftstoff für Parfums verwendet. Iranischer Safran ist intensiv an Aroma und reich an Färbungskapazität. Die Safranfäden werden bei der Ernte mit der Hand von der Blüte gepflückt, sind also 'Hand Selected'.</p>
      <p class="p-text">Unseren Safran beziehen wir ohne Zwischenhändler direkt von einem rennommierten Erzeuger der Region 'Chorasan' im Iran. Er ist vor Fälschungen geschützt und wird nicht gestreckt. Er hat die Qualitätsstufe 1.</p>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-12">
      <hr class="mb-5" style="border-top: 2px solid #E0E0E0;">
    </div>
    <div class="col-md-4">
      <div class="card bg-dark text-white">
        <img src="../../../../assetsimg/Safran/Negin.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title"><h2 style="font-size: 35px;">Negin Safran</h2></h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark text-white">
        <img src="../../../../assetsimg/Safran/Sargol.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title"><h2 style="font-size: 35px;">Sargol Safran</h2></h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card bg-dark text-white">
        <img src="../../../../assetsimg/Safran/Weiss.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title"><h2 style="font-size: 35px;">Weisser Safran</h2></h5>
        </div>
      </div>
    </div>
    <div class="col-12">
      <hr style="border-top: 2px solid #E0E0E0;">
    </div>
  </div>
</div>
<app-footer-de></app-footer-de>

