<!-- ======= Top Bar ======= -->
<section id="topbar" class="d-none d-md-flex align-items-center fixed-top">
  <div class="container text-right">
    <i class="icofont-phone"></i> 0631 98410119
    <i class="icofont-clock-time icofont-rotate-180"></i> Di. - Sa. : 12:00 - 22:00 & So. : 12:00 - 21:00
  </div>
</section>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">

    <div class="logo mr-auto">
      <!-- <h1 class="text-light"><a href="index.html"><span>Termeh</span></a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="index.html">
        <img src="assets/img/logo.png" alt="Termeh" class=" img-fluid">
      </a>
      <img src="assets/img/title.png" class="d-md-none ml-2 menuTitle">
    </div>

    <nav class="nav-menu d-none d-md-block">
      <ul>
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#menu">Speisekarte</a></li>
        <li><a href="#events">Veranstaltungen</a></li>
        <li><a href="#gallery">Gallerie</a></li>
        <li><a href="#contact">Kontakt</a></li>

        <!-- <li class="book-a-table text-center"><a href="#book-a-table">Book a table</a></li> -->
      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div class="hero-container">
    <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background: url(assets/img/slide/Slide1.jpg);background-size:cover">
          <div class="carousel-container">
            <div class="carousel-content">
              <!-- <h2 class="animated fadeInDown"><span>Termeh</span> Persian Restaurant</h2> -->
              <img src="assets/img/title.png" class="slideTitle d-none d-md-flex mb-4">
              <p class="animated fadeInUp dropShadow" id="slidesText">Der Termeh Persian Grill ist ein einzigartiges
                kulinarisches Erlebnis, das authentische
                persische und nahöstliche Küche kombiniert.Unsere Gäste kommen nach Termeh und erwarten das beste Kabob
                und orientalische Essen in Kaiserslautern.</p>
              <div>
                <a routerLink="/" class="btn-menu animated fadeInUp scrollto">See English</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background: url(assets/img/slide/Slide2.jpg);background-size: cover">
          <div class="carousel-container">
            <div class="carousel-content">
              <img src="assets/img/title.png" class="slideTitle d-none d-md-flex mb-4">
              <p class="animated fadeInUp dropShadow" id="slidesText"> In unser Restaurant arbeiten wir
                leidenschaftlich, den Gästen hochwertige Zutaten und hervorragenden Service in einer unvergesslichen
                Atmosphäre zu bieten..</p>
              <div>
                <a href="#menu" class="btn-menu animated fadeInUp scrollto">Speiskarte</a>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background: url(assets/img/slide/Slide3.jpg);background-size: cover;">
          <!-- <div class="carousel-background"><img src="assets/img/slide/slide-3.jpg" alt=""></div> -->
          <div class="carousel-container">
            <div class="carousel-content">
              <img src="assets/img/title.png" class="slideTitle d-none d-md-flex mb-4">
              <p class="animated fadeInUp dropShadow" id="slidesText">Wir bemühen uns, dass jeder Gast das Gefühl hat,
                das zu bekommen, wofür er gekommen ist.</p>
              <div>
                <a href="#events" class="btn-menu animated fadeInUp scrollto">Veranstaltungen</a>
              </div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
        <span class="sr-only">Nächster</span>
      </a>

    </div>
  </div>
</section><!-- End Hero -->

<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container-fluid">

      <div class="row">

        <!-- <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("assets/img/about.jpg");'>
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
            data-autoplay="true"></a>
        </div> -->

        <div class="col d-flex flex-column justify-content-center align-items-stretch">

          <div class="content">

            <h3 class="text-center">
              Der Termeh Persian Grill ist ein einzigartiges kulinarisches Erlebnis, das authentische persische und
              nahöstliche Küche kombiniert. In unser Restaurant arbeiten wir leidenschaftlich, den Gästen hochwertige
              Zutaten und
              ervorragenden Service in einer unvergesslichen Atmosphäre zu bieten. Unsere Gäste kommen nach Termeh und
              erwarten das beste Kabob und orientalische Essen in Kaiserslautern.
            </h3>
            <ul>
              <li><i class="bx bx-check-double"></i> Wir bemühen uns, dass jeder Gast das Gefühl hat, das zu bekommen,
                wofür er gekommen ist.</li>
              <li><i class="bx bx-check-double"></i> Der Qualität unserer Speisen ist ausgezeichnet und dafür stehen wir
                mit unseren Namen.</li>
              <li><i class="bx bx-check-double"></i> Wir bieten verschiedene Vorspeisen, Reisgerichte und Eintöpfe sowie
                eine vielfältige und köstliche Auswahl an Mittagsgerichten.</li>
            </ul>
          </div>

        </div>

      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Whu Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container">

      <div class="section-title">
        <h2>Warum wählen <span>Unser Restaurant</span></h2>

      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="box">
            <span>01</span>
            <h4>Herzliches Willkommen</h4>
            <p>Eine echte persische Gastfreundschaft, die beste Atmosphäre zum Essen und ein unvergessliches Erlebnis.
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box">
            <span>02</span>
            <h4>Leckeres Menü</h4>
            <p>Große Liebhaber persischer Gerichte. Wir geben unser Bestes, um Ihnen leckeres Essen zu entwerfen und zu
              servieren.
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box">
            <span>03</span>
            <h4>Elegantes Interieur</h4>
            <p>Wir haben die eleganteste und authentischste Atmosphäre geschaffen, die Sie jemals finden werden.</p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Whu Us Section -->

  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu">
    <div class="container">

      <div class="section-title">
        <h2>Überprüfen Sie unsere leckeren <span>Speisekarte</span></h2>
      </div>

      <div class="row">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <li class="filter-active" (click)="showAll()">Zeige alles</li>
            <li (click)="showStarter()">Vorspeise</li>
            <li (click)="showMain()">Hauptgericht</li>
            <li (click)="showSalad()">Salate</li>
            <li (click)="showGarni()">Beilagen</li>
            <li (click)="showDess()">Nachspeise</li>
            <a href="https://www.docdroid.net/j7kOyTT/menu-jpeg-pdf" target="_blank"><i class="icofont-download"></i>
              Download</a>
          </ul>
        </div>
      </div>

      <div class="row mb-2 justify-content-center">
        <ng-container *ngFor="let food of foods">
          <div class="col-xl-2 col-md-3 col-5 mt-5 shadow p-0 mx-2 rounded-lg card menuCard" *ngIf="show(food.type)">
            <div class="product-item pt-0 mb-0">
              <div class="product-thumb">
                <img [src]="food.imageUrl" alt="food-product" class="product-img">
                <!-- [src]="getSantizeUrl(food.imageUrl)" -->
                <span class="price mt-0 mr-0 shadow">{{food.price | number: '1.2-2'}}€

                </span>
              </div>
              <div class="product-content mt-2">
                <h5>{{food.name}}</h5>
                <p class="product-details">{{food.content2}}</p>

              </div>
            </div>
          </div>
        </ng-container>




      </div>

    </div>
  </section><!-- End Menu Section -->

  <!-- ======= Specials Section ======= -->
  <section id="specials" class="specials">
    <div class="container">

      <div class="section-title mb-2">
        <h2>Überprüfen Sie unsere <span>Spezialität</span></h2>

      </div>

      <div class="row">
        <div class="col-lg-3">
          <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
              <a class="nav-link active show" data-toggle="tab" href="#tab-1">Kabab Soltani</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-2">Kabab Mix</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-3">Mahi Hashu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#tab-4">Ghorme Sabzi</a>
            </li>

          </ul>
        </div>
        <div class="col-lg-9 mt-4 mt-lg-0">
          <div class="tab-content">
            <div class="tab-pane active show" id="tab-1">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>TSCHELO KABAB SOLTANI</h3>
                  <p class="font-italic">Je ein Spieß aus feinem Lammrückenfilet und würzigem kalbsfilet , serviert mit
                    Basmati-Safranreis und Grilltomate</p>

                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/specials-1.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-2">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>TSCHELO KABAB MIX</h3>
                  <p class="font-italic">Ein Spieß gegrilltes Hähnchenbrustfilet sowie ein Spieß gegrilltes
                    Lammhackfleisch, serviert mit Basmati-Safranreis und Grilltomate
                  </p>

                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/specials-2.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-3">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>TSCHELO MAHI HASHU</h3>
                  <p class="font-italic">Lachsfilet mit spezialisten soße(Koriander, Knoblauch, Tamarind, Zwiebel),dazu
                    Basmati-Safranreis</p>

                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/specials-3.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-4">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>TSCHELO KHORESCHT GHORME SABSI</h3>
                  <p class="font-italic">Zart geschmorte Fleischstücke aus der kalbkeule in einer Persischen Kräutersoße
                    mit Bohnen und gekochten Limetten verfeinert, dazu Basmati-Safranreis</p>

                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/specials-4.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <!-- <div class="tab-pane" id="tab-5">
              <div class="row">
                <div class="col-lg-8 details order-2 order-lg-1">
                  <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                  <p class="font-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                  <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod
                    eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae
                    voluptate vel</p>
                </div>
                <div class="col-lg-4 text-center order-1 order-lg-2">
                  <img src="assets/img/specials-5.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Specials Section -->

  <!-- ======= Events Section ======= -->
  <section id="events" class="events">
    <div class="container">

      <div class="section-title">
        <h2>Organisieren Sie Ihre <span>Veranstaltungen</span> in unserem Restaurant</h2>
      </div>



    </div>
  </section><!-- End Events Section -->

  <!-- ======= Event Section ======= -->
  <section id="book-a-table" class="book-a-table">
    <div class="container text-center">

      <div class="section-title">
        <h2>Unser Special<span>Veranstaltungen</span></h2>
      </div>
    </div>
    <ngb-carousel class="justify-content-center">
      <ng-template ngbSlide *ngFor="let event of events">
        <div class="container pl-0 rounded-lg eventSlider">
          <div class="row">
            <div class="picsum-img-wrapper col-5 rounded-lg">
              <img [src]="event.imageUrl" alt="Random first slide" class="img-fluid  rounded-left eventImg">
            </div>
            <div class="eventContent col-5 rounded-lg pt-2">
              <h5 class="normal-font">From: {{event.startTime | date:'fullDate' | slice:0:-6}} <br> To:
                {{event.endTime | date:'fullDate' | slice:0:-6}} </h5>
              <h2 class="white-text">{{event.title2}}</h2>
              <p class="white-text">{{event.content2}}</p>
            </div>
          </div>
        </div>
      </ng-template>

    </ngb-carousel>
  </section><!-- End Event Section -->

  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">
    <div class="container-fluid">

      <div class="section-title">
        <h2>Einige Fotos von <span>Unser Restaurant</span></h2>

      </div>

      <div class="row no-gutters mt-2">

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-1.jpg" class="venobox" data-gall="gallery-item">
              <img src="assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-2.jpg" class="venobox" data-gall="gallery-item">
              <img src="assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-3.jpg" class="venobox" data-gall="gallery-item">
              <img src="assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-4.jpg" class="venobox" data-gall="gallery-item">
              <img src="assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-5.jpg" class="venobox" data-gall="gallery-item">
              <img src="assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-6 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-6.jpg" class="venobox" data-gall="gallery-item">
              <img src="assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a href="assets/img/gallery/gallery-7.jpg" class="venobox" data-gall="gallery-item">
              <img src="assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
            </a>
          </div>
        </div>



      </div>

    </div>
  </section><!-- End Gallery Section -->



  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2><span>Kontakt</span> Uns</h2>
      </div>
    </div>

    <div class="map">
      <!-- https://www.google.com/search?ie=UTF-8&client=ms-android-samsung&source=android-browser&q=termeh+restaurant -->
      <iframe style="border:0; width: 100%; height: 350px;"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2594.808292911765!2d7.671363315423802!3d49.431438268140575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479673230e6a7aa3%3A0x6514f72084bc3cd9!2sTermeh%20Persian%20Resteraunt!5e0!3m2!1sen!2snl!4v1590927555712!5m2!1sen!2snl"
        frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="container mt-5">

      <div class="info-wrap">
        <div class="row">
          <div class="col-lg-3 col-md-6 info">
            <i class="icofont-google-map"></i>
            <h4>Standort:</h4>
            <p>Kaiser Straße 10
              <br>67661 Kaiserslautern</p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="icofont-clock-time icofont-rotate-90"></i>
            <h4>Öffnungszeiten:</h4>
            <p>Dienstag-Samstag:<br>12:00 - 22:00 </p>
            <p>Sontag:<br>12:00 - 21:00 </p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="icofont-envelope"></i>
            <h4>Email:</h4>
            <p>Info@termehfood.com</p>
          </div>

          <div class="col-lg-3 col-md-6 info mt-4 mt-lg-0">
            <i class="icofont-phone"></i>
            <h4>Anruf:</h4>
            <p>0631 98410119</p>
          </div>
        </div>
      </div>


    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <h3>Termeh Restaurant</h3>
    <p>Folgen Sie uns auf Social Media</p>
    <div class="social-links">
      <a href="https://www.facebook.com/res.termeh/" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/res.termeh/" class="instagram ml-3 mr-0"><i class="bx bxl-instagram"></i></a>

    </div>
    <div class="copyright">
      &copy; Copyright <strong><span>Termeh Restaurant</span></strong>. All Rights Reserved
    </div>
    <div class="credits" style="color: dodgerblue;font-size:15px;">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/delicious-free-restaurant-bootstrap-theme/ -->
      Designed by <a href="https://t.me/Ariyan_Geek"><img src="assets/img/MyLogo.jpg" alt="G-Design"
          class="img-fluid rounded-circle shadow" style="height: 40px;"></a>
      G-Design
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
