@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.menuCard {
  border: 3px solid #ff5100;
}
.menuTitle {
  height: 18px;
  width: 80%;
}
.slideTitle {
  width: 60%;
  margin: auto;
}
.product-item {
  font-weight: 400;
  color: #696969;
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  box-sizing: border-box;
  padding: 30px 0;
  text-align: center;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}
.product-thump {
  font-weight: 400;
  color: #696969;
  font-size: 15px;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  line-height: 200px;
  margin: 0 auto 30px;
  border-radius: 100%;
  position: relative;
}
.product-img {
  font-weight: 400;
  color: #696969;
  font-size: 15px;
  text-align: center;
  line-height: 200px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: middle;
  border-style: none;
  height: auto;
  max-width: 100%;
  transition: all 0.3s ease;
}
.price {
  box-sizing: border-box;
  width: 54px;
  height: 54px;
  line-height: 48px;
  top: 10px;
  right: 10px;
  text-align: center;
  color: #ff5100;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #ff5100;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 100%;
  transition: all 0.3s ease;
  position: absolute;
  content: '';
}
.product-content {
  font-weight: 400;
  color: #ff5100;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.product-p {
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-top: 0;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
  color: #d60231;
  font-size: 18px;
}
.product-details {
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-top: 0;
  clear: both;
  font-weight: 600;
  color: #696969;
  text-transform: capitalize;
  line-height: 24px;
  margin-bottom: 5px;
  font-size: 15px;
}
.myEvents {
  height: 300px;
}
.eventSlides {
  height: 500px;
}
.eventImg {
  max-width: 100%;
  max-height: 500px;
}
.eventSlider {
  background-color: #ff5100;
}
.white-text {
  color: white;
}
.normal-font {
  font-family: monospace;
  font-weight: bold;
}
